.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--page-nav-offset) + 12px) 20px 100px;
  background-image: url('../../../../../public/GymBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}
