.body {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-image: url('../../../../public/GymBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 50px;

  min-height: 100%;

  box-sizing: border-box;

  margin-top: 60px;

  h1 {
    font-family: Merriweather;
    color: white;
    text-shadow:
      3px 0 0 #4b4b4b,
      -3px 0 0 #4b4b4b,
      0 3px 0 #4b4b4b,
      0 -3px 0 #4b4b4b,
      2px 2px 0 #4b4b4b,
      -2px -2px 0 #4b4b4b,
      2px -2px 0 #4b4b4b,
      -2px 2px 0 #4b4b4b;
  }
}

.account-info {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 80%;

  gap: 25px;
}

form {
  display: flex;
  flex-direction: column;

  gap: 25px;

  margin-bottom: 50px;

  .form-element {
    display: flex;
    flex-direction: column;

    gap: 10px;

    label {
      text-align: center;
    }

    input {
      appearance: none;
      border: none;
      box-sizing: none;
      outline: none;

      background-color: rgb(245, 245, 245);

      padding: 10px;
      border-radius: 10px;

      min-width: 300px;

      align-self: stretch;
      justify-self: stretch;

      transition: all 0.5s ease;

      &:focus {
        background-color: white;
        box-shadow: 0 0 6px rgb(139, 139, 139);
      }
    }
  }

  .form-group {
    display: flex;
    flex-direction: row;

    gap: 10px;
  }

  .save-button {
    border: none;
    box-sizing: none;
    appearance: none;

    margin-top: 25px;

    padding: 10px;

    align-self: center;

    width: 300px;

    border-radius: 10px;

    cursor: pointer;

    background-color: rgb(226, 226, 226);
    box-shadow: 0 0 2px rgb(59, 59, 59);

    &:hover {
      background-color: white;
      box-shadow: 0 0 2px white;
    }

    &:active {
      background-color: white;
      box-shadow: 0 0 2px black;
    }
  }
}

.bookings {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: auto;
  width: 800px;

  padding: 15px 25px;
  gap: 10px;

  border-radius: 15px;

  background-color: #d7f4ff;

  label {
    font-size: 20px;
  }

  .booking {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    height: auto;
    width: 100%;

    padding: 10px;

    border-radius: 15px;

    background-color: #7bb4ff;
    box-shadow: 0 0 3px rgb(92, 92, 92);
  }
}
