<section>
  <h1>Log Ind</h1>
  <div>
    <form [formGroup]="formGroup" (submit)="onSubmit($event)">
      <div class="form-element">
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          type="text"
          placeholder="john.doe@example.com"
          [formControl]="emailControl"
        />
        @if (emailControl.invalid && emailControl.touched) {
          <small>*Email er inkorrect.</small>
        }
      </div>

      <div class="form-element">
        <label for="password">Kodeord</label>
        <input
          id="password"
          name="password"
          type="text"
          placeholder="kodeord"
          [formControl]="passwordControl"
        />
        @if (passwordControl.invalid && passwordControl.touched) {
          <small>*Kodeord er påkrævet.</small>
        }
      </div>

      <div class="remember-me">
        <label for="remember-me">Husk Mig</label>
        <input
          id="remember-me"
          name="remember-me"
          type="checkbox"
          [formControl]="rememberMeControl"
        />
      </div>

      <button type="submit">Log ind</button>
    </form>
  </div>
</section>
