<div class="home-page">
  <section class="section-1">
    <img src="Forbillede.jpeg" width="600px" height="800px" class="forbilede" />
    <label class="headline">TobiasFitness</label>
    <div class="socials">
      <a
        class="instagram social-button"
        (click)="goToLink('https://www.instagram.com/tobiasbastholmfitness/')"
      ></a>
      <a class="ig-label" (click)="goToLink('https://www.instagram.com/tobiasbastholmfitness/')"
        >TobiasBastholmFitness</a
      >
      <a
        class="facebook social-button"
        (click)="goToLink('https://www.facebook.com/profile.php?id=100018336181484')"
      ></a>
      <a
        class="fb-label"
        (click)="goToLink('https://www.facebook.com/profile.php?id=100018336181484')"
        >TobiasBastholm</a
      >
    </div>
  </section>

  <section class="section-2">
    <div class="about-me info-box">
      <h2>Om Mig:</h2>
      <label
        >Jeg hedder Tobias, har færdiggjort grundforløb 2 på fitness uddannelsen og har trænet i 5 -
        6 år. Jeg har beskæftiget mig med personlig træning og kost i nogle år.
      </label>
      <h2>Min personlige erfaring:</h2>
      <label>
        Min personlige erfaring gør mig i stand til at sætte mig i andre folks sted. Det har også
        gjort mig mere opmærksom på mennesker omkring mig. Jeg er super focuseret og gør mit bedste
        på hver eneste opgave jeg tager mig for.</label
      >

      <div class="prices">
        <h2>Se mine priser her.</h2>
        <a routerLink="/prices">Priser</a>
      </div>
    </div>

    <div class="my-services info-box">
      <h2>Hvad kan jeg hjælpe dig med?</h2>
      <label
        >Det som jeg kan hjælpe dig med er at komme i gang med din træning med et træningsprogram
        som er skræddersyget til dig. Få forståelse for hvad en sund kost er og hvordan man kan
        vedligeholde det.
      </label>
    </div>
  </section>

  <app-footer-core></app-footer-core>
</div>
