<div class="home-page">
  <section class="section-1">
    <img src="Forbillede.jpeg" width="600px" height="800px" class="forbilede" />
    <label class="headline">TobiasFitness</label>
    <div class="socials">
      <a
        class="instagram social-button"
        (click)="goToLink('https://www.instagram.com/tobiasbastholmfitness/')"
      ></a>
      <a class="ig-label" (click)="goToLink('https://www.instagram.com/tobiasbastholmfitness/')"
        >TobiasBastholmFitness</a
      >
      <a
        class="facebook social-button"
        (click)="goToLink('https://www.facebook.com/profile.php?id=100018336181484')"
      ></a>
      <a
        class="fb-label"
        (click)="goToLink('https://www.facebook.com/profile.php?id=100018336181484')"
        >TobiasBastholm</a
      >
    </div>
  </section>
</div>
