.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100dvh;

  gap: 10px;

  background-color: rgb(39, 35, 48);
}

.forbilede {
  min-width: 600px;
  min-height: 800px;

  align-self: start;
  justify-self: center;

  grid-row: 2 / 7;

  grid-column: 3 / 8;

  background-image: url('../../../../../public/Forbillede.jpeg');

  background-size: cover;
  background-position: center center;

  border-radius: 30%;

  box-shadow: 0 0 5px rgb(59, 59, 59);
}

.section-1 {
  grid-template-rows: repeat(6, 1fr);

  background-image: url('../../../../../public/GymBackground-Forside.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 50px;
  margin-top: -40px;

  .headline {
    align-self: center;
    justify-self: center;

    font-size: 5vw;
    font-weight: bold;

    grid-column: 7 / 12;
    grid-row: 1 / 4;

    color: rgb(203, 190, 224);
    text-shadow: 0 0 20px rgb(112, 112, 112);
  }

  .socials {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 10px;

    padding-left: 10px;

    grid-column: 8;
    grid-row: 2 / 6;

    align-self: center;
    justify-self: start;

    .instagram {
      background-image: url('../../../../../public/Instagram_Logo.jpg');
      background-size: cover;
      background-position: center center;
    }

    .ig-label {
      cursor: pointer;

      align-self: center;

      color: rgb(156, 79, 187);

      font-weight: bold;
      font-size: 24px;
      text-shadow:
        -2px 2px 3px #ffffff,
        2px 2px 3px #ffffff;
    }

    .facebook {
      background-image: url('../../../../../public/Facebook_Logo.png');
      background-size: cover;
      background-position: center center;
    }

    .fb-label {
      cursor: pointer;

      align-self: center;

      color: rgb(87, 157, 223);

      font-weight: bold;
      font-size: 24px;
      text-shadow:
        -2px 2px 3px #ffffff,
        2px 2px 3px #ffffff;
    }
  }
}

// These are default designs

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  width: 100%;
}

label {
  font-family: Poppins;
  font-size: 20px;
}

.social-button {
  width: 80px;
  height: 80px;

  border-radius: 15px;
  border: none;

  cursor: pointer;
}
