<div class="home-page">
  <section class="section-1">
    <div class="forbilede"></div>
    <label class="headline">TobiasFitness</label>
    <div class="socials">
      <a
        class="instagram social-button"
        (click)="goToLink('https://www.instagram.com/tobiasbastholmfitness/')"
      ></a>
      <label for="instagram" class="ig-label">TobiasBastholmFitness</label>
      <a
        class="facebook social-button"
        (click)="goToLink('https://www.facebook.com/profile.php?id=100018336181484')"
      ></a>
      <label for="facebook" class="fb-label">TobiasBastholm</label>
    </div>
  </section>
</div>
