<div class="Profil tab">
  <div class="profile tab-part">
    <form>
      <div class="element-group">
        <div class="form-element">
          <label for="first-name">Fornavn</label>
          <input
            id="first-name"
            class="input"
            name="first-name"
            type="text"
            [formControl]="firstNameControl()"
          />
        </div>

        <div class="form-element">
          <label for="last-name">Efternavn</label>
          <input
            id="last-name"
            class="input"
            name="last-name"
            type="text"
            [formControl]="lastNameControl()"
          />
        </div>
      </div>

      <div class="element-group">
        <div class="form-element">
          <label for="email">E-mail</label>
          <input id="email" class="input" name="email" type="text" [formControl]="emailControl()" />
        </div>

        <div class="form-element">
          <label for="phonenumber">Telefonnummer</label>
          <input
            id="phonenumber"
            class="input"
            name="phonenumber"
            type="text"
            [formControl]="phonenumberControl()"
          />
        </div>

        <div class="form-element">
          <label for="age">Alder</label>
          <input
            id="age"
            class="input"
            name="age"
            type="number"
            min="1"
            max="120"
            [formControl]="ageControl()"
          />
        </div>
      </div>

      <div class="form-element">
        <label for="address">Adresse</label>
        <input
          id="address"
          class="input"
          name="address"
          type="text"
          [formControl]="addressControl()"
        />
      </div>

      <div class="element-group">
        <div class="form-element">
          <label for="postalCode">Postnummer</label>
          <input
            id="postalCode"
            class="input"
            name="postalCode"
            type="text"
            [formControl]="zipCodeControl()"
          />
        </div>

        <div class="form-element">
          <label for="city">By</label>
          <input id="city" class="input" name="city" type="text" [formControl]="townControl()" />
        </div>
      </div>

      <div class="form-element comment">
        <label for="comment">Andet</label>
        <textarea id="comment" name="comment" [formControl]="commentControl()"></textarea>
      </div>
    </form>
  </div>
</div>
