<div class="body">
  <app-meal-prep-header [isAdmin]="isAdmin()"></app-meal-prep-header>

  @if (isAdmin()) {
    <app-meal-prep-create
      [receiverOptions]="recieverOptions()"
      [isUploading]="isUploading()"
      [uploadProgress]="uploadProgress()"
      [uploadEtaLabel]="getUploadEtaLabel()"
      [resetVersion]="createResetVersion()"
      (submitCreate)="submitRecipe($event)"
      (cancelUploadRequest)="cancelUpload()"
    ></app-meal-prep-create>
  }

  <app-meal-prep-view
    [visible]="viewMealPageActive"
    [recipe]="selectedDocumentData()"
    (close)="closeMealView()"
  ></app-meal-prep-view>

  <app-meal-prep-carousel
    [allRecipes]="recipies()"
    [personalRecipes]="yourRecipies()"
    [loading]="recipesLoading()"
    [error]="recipesError()"
    (recipeSelected)="openMeal($event)"
  ></app-meal-prep-carousel>
</div>
