<div class="body">
  <section class="intro">
    <h1>Opskrifter</h1>
  </section>

  <section class="free-meals center">
    <h2>Gratis Opskrifter</h2>
    <ul class="carousel">
      <li>
        <div class="image">
          <div class="info">
            <h3>Opskrift Navn</h3>
            <p>Kalorier</p>
            <p>Protein</p>
            <p>Kulhydrater</p>
            <p>Fedt</p>
          </div>
        </div>
      </li>
      <li>
        <div class="image">
          <div class="info">
            <h3>Opskrift Navn</h3>
            <p>Kalorier</p>
            <p>Protein</p>
            <p>Kulhydrater</p>
            <p>Fedt</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="your-meals center">
    <h2>Dine Opskrifter</h2>
    <ul class="carousel">
      <li>
        <div class="image">
          <div class="info">
            <h3>Opskrift Navn</h3>
            <p>Kalorier</p>
            <p>Protein</p>
            <p>Kulhydrater</p>
            <p>Fedt</p>
          </div>
        </div>
      </li>
      <li>
        <div class="image">
          <div class="info">
            <h3>Opskrift Navn</h3>
            <p>Kalorier</p>
            <p>Protein</p>
            <p>Kulhydrater</p>
            <p>Fedt</p>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
