.body {
  display: flex;
  background-image: url('../../../../../public/GymBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  height: calc(100dvh - 150px);

  width: 100dvw;

  padding: 10px;
  padding-bottom: 0;

  .list-container {
    display: flex;

    height: calc(100% - 10px);
    width: 65%;

    background-color: rgb(206, 206, 206);

    box-shadow: 0 0 5px rgb(114, 114, 114);
  }

  .menu {
    display: flex;
    flex-direction: column;

    height: calc(100% - 10px);
    width: 20%;

    background-color: white;

    box-shadow: 0 0 5px rgb(114, 114, 114);

    z-index: 1;

    align-items: center;

    justify-content: space-between;

    .info {
      display: flex;
      flex-direction: column;

      width: 100%;

      align-items: center;

      gap: 20px;

      margin-top: 30px;

      label {
        font-family: Poppins;
        font-size: 16px;
      }

      #name {
        font-size: 20px;
        font-weight: bold;
      }

      #email {
        font-weight: bold;
        margin-top: -10px;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;

      width: 100%;

      align-items: center;

      gap: 30px;

      margin-bottom: 50px;
      input {
        appearance: none;
        outline: none;
        border: none;
        box-sizing: none;

        width: 90%;

        padding: 5px;

        border-radius: 15px;
        box-shadow: 0 0 2px rgb(117, 117, 117);

        font-family: Poppins;
        font-size: 16px;

        &:hover {
          box-shadow: 0 0 4px rgb(71, 71, 71);
        }

        &:active {
          box-shadow: 0 0 6px rgb(167, 167, 167);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .body {
    height: calc(100dvh - 90px);
  }
}
