<div class="body">
  <div class="list-container">
    <div class="Profiles view active">
      @if (!allUsers().at(0)) {
        <h2>Ingen Brugere</h2>
        <p>Refresh to load</p>
      } @else {
        @for (profile of allUsers(); track profile.uid) {
          <div class="profile element" (click)="selectUser(profile.uid)">
            <p>uid: {{ profile.uid }}</p>
            <p>Navn: {{ profile.firstName }} {{ profile.lastName }}</p>
            <p>Email: {{ profile.email }}</p>
          </div>
        }
      }
    </div>
    <div class="Apointments view">
      @if (!bookings().at(0)) {
        <h2>Ingen Bookinger</h2>
        <p>Refresh to load</p>
      } @else {
        @for (booking of bookings(); track booking.id) {
          <div class="apointment element" (click)="selectUser(booking.uid)">
            <p>Navn: {{ booking.firstName }} {{ booking.lastName }}</p>
            <p>
              Dato: {{ booking.date }} <br />
              Tid: {{ booking.timePeriod.start.hour }}:{{ booking.timePeriod.start.minute }}
              -
              {{ booking.timePeriod.end.hour }}:{{ booking.timePeriod.end.minute }}
            </p>
            <p>Service: {{ booking.service }}</p>
          </div>
        }
      }
    </div>
  </div>
  <div class="options">
    <div class="view-options">
      <button class="view-option active" (click)="selectView($event)">Profiles</button>
      <button class="view-option" (click)="selectView($event)">Apointments</button>
    </div>

    <div class="selected-profile">
      @if (selectedUser()) {
        <p>uid: {{ selectedUser().uid }}</p>
        <p>Navn: {{ selectedUser().firstName }} {{ selectedUser().lastName }}</p>
        <p>Email: {{ selectedUser().email }}</p>
      }
    </div>

    <button (click)="openEditer()">Open Profile</button>
  </div>
</div>

@if (selectedUser()) {
  <app-data-editer class="editer" [selectedUser]="selectedUser()"></app-data-editer>
}
