.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgb(41, 41, 41);

  position: fixed;
  top: 0;
  width: 100dvw;
  height: 60px;

  a {
    box-sizing: border-box;
    height: auto;
    width: auto;
    padding: 20px 30px;
    justify-content: flex-start;

    text-decoration: none;
    color: white;
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    transition: 0.4s ease;

    &:hover {
      background: rgb(74, 74, 230);
    }
  }
}
