.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgb(41, 41, 41);

  position: fixed;
  top: 0;
  width: 100dvw;
  height: 60px;

  z-index: 1;

  a {
    box-sizing: border-box;
    height: auto;
    width: auto;
    padding: 20px 30px;
    justify-self: start;

    text-decoration: none;
    color: white;
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    user-select: none;

    transition: 0.4s ease;

    &:hover {
      background: rgb(74, 74, 230);
    }
  }
}

.account-access {
  display: flex;
  flex-direction: column;

  width: 200px;
  height: 200px;

  background-color: rgb(77, 77, 77);

  position: absolute;
  right: 5px;
  top: -200px;

  border-radius: 5px;

  box-shadow: 0 0 2px rgba(65, 65, 65, 0.747);

  transition: all 0.5s ease;

  &.visible {
    top: 65px;
  }

  .button-holder {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 10px;

    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 10px;

    button {
      appearance: none;
      outline: none;
      border: none;

      padding: 5px;

      width: 90%;
      height: 30px;

      background-color: rgb(207, 207, 207);

      border-radius: 5px;

      transition: all 0.25s ease;

      &:hover {
        background-color: white;
        box-shadow: 0 0 5px rgb(148, 148, 148);
      }
    }
  }

  .info-holder {
    display: flex;
    flex-direction: column;

    width: 90%;

    background-color: rgb(139, 139, 139);

    align-items: center;
    align-self: center;

    padding: 5px;
    margin-top: 5px;

    border-radius: 5px;

    :first-child {
      font-size: 14px;
    }

    label {
      font-family: Poppins;
      font-size: 12px;

      color: white;
    }
  }
}

.openCloseButton {
  display: none;
  width: 60px;
  height: 60px;
}

@media (max-width: 600px) {
  .nav {
    width: 50%;
    height: 100%;
    right: -50%;
    flex-direction: column;
    justify-content: start;

    transition: all 0.5s ease;

    a {
      width: 100%;
    }

    .openCloseButton {
      background-image: url('../../../../../../public/openNav.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
      border: none;
    }
  }

  .nav.open {
    right: 0;

    .openCloseButton {
      background-image: url('../../../../../../public/closeNav.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
      border: none;
    }
  }

  .otherNavComponents {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .openCloseButton {
    display: block;
    position: absolute;
    left: -60px;
  }
}
