.header {
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  height: auto;
  width: 100dvw;

  gap: 10px;
  padding: 0 10px;

  background-color: rgb(220, 220, 220);
  box-shadow: 0 0 4px rgb(66, 66, 66);

  z-index: 10;

  a {
    max-width: fit-content;
    align-self: center;
  }
}

.accountButton {
  anchor-name: --account-button;
}

a {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 20px 30px;
  justify-self: start;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  user-select: none;

  transition: 0.4s ease;

  cursor: pointer;

  &:hover {
    background: rgb(180, 180, 180);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  left: calc(-1 * var(--nav-width));
  height: calc(100dvh - 60px);
  width: var(--nav-width);
  margin-top: 60px;

  background: rgb(220, 220, 220);
  box-shadow: 0 0 3px rgb(66, 66, 66);

  z-index: 9;

  transition: all 0.25s ease;

  .otherNavComponents {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .home-link {
    padding: 20px 0;
    text-align: center;
  }

  &.open {
    left: 0;
  }
}

.menuButton {
  display: block;
  width: 40px;
  height: 40px;

  align-self: center;

  background-image: url('../../../../../../public/menu-icon.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(220, 220, 220);
  border: none;

  cursor: pointer;
}

.screen-clear {
  display: none;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
}

.account-access {
  display: flex;
  flex-direction: column;

  width: var(--nav-width);

  position-anchor: --account-button;
  position: relative;
  left: calc(-1 * var(--nav-width) - 25px);

  transition: 0.25s all ease;

  a {
    padding-left: 45px;
    font-size: 14px;
    white-space: nowrap;
  }

  &.visible {
    left: 0;
  }
}
