<div class="prices-page">
  <h1>Konsultationer</h1>
  <div class="multi services">
    @for (service of multiServices; track $index) {
      <div class="service">
        <img src="{{ service.icon }}" />
        <div class="disc">
          <h2>{{ service.name }}</h2>
          <h3>{{ service.price }}</h3>
          <p>{{ service.description }}</p>
        </div>
      </div>
    }
  </div>
  <h1>Andet</h1>
  <div class="single services">
    @for (service of singleServices; track $index) {
      <div class="service">
        <img src="{{ service.icon }}" />
        <div class="disc">
          <h2>{{ service.name }}</h2>
          <h3>{{ service.price }}</h3>
          <p>{{ service.description }}</p>
        </div>
      </div>
    }
  </div>

  <a class="to-contact" routerLink="/contact">Kontakt</a>

  <app-footer-core></app-footer-core>
</div>
