<div class="prices-page">
  <h1>Ydelser</h1>
  <div class="services">
    @for (service of generalServices; track $index) {
      <div class="service">
        <img src="{{ service.icon }}" />
        <div class="disc">
          <h2>{{ service.name }}</h2>
          <p>
            <strong>{{ service.price }}</strong>
          </p>
          <p>
            <strong>{{ service.time }}</strong>
          </p>
          <p>
            <strong>{{ service.place }}</strong>
          </p>
          <p id="discription">{{ service.description }}</p>
        </div>
      </div>
    }
  </div>

  <a class="to-contact" routerLink="/contact">Kontakt</a>

  <app-footer-core></app-footer-core>
</div>
